<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>{{title}}</nb-card-header>
        <nb-card-body>
        <div [formGroup]="formGroup" aria-labelledby="title">
            <div class="form-control-group mt-3">
                <label for="input-name" class="col-md-3">Name</label>
                <input  nbInput
                        fullWidth
                        id="input-name"
                        formControlName="name"
                        [status]="name.dirty ? (name.invalid  ? 'danger' : 'success') : 'basic'"
                        [attr.aria-invalid]="name.invalid && name.touched ? true : null"
                        placeholder="Enter name"
                        class="col-md-9">
            </div>
            <div class="form-control-group mt-3">
                <label for="input-password" class="col-md-3">Password</label>
                <input  nbInput
                        fullWidth
                        id="input-password"
                        formControlName="password"
                        [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : 'basic'"
                        [attr.aria-invalid]="password.invalid && password.touched ? true : null"
                        placeholder="Enter password"
                        class="col-md-9">
            </div>
            <div class="form-control-group mt-3" style="display:flex;">
                <label for="select-type" class="col-md-3">Type</label>
                <select
                    id="select-type"
                    class="col-md-9 form-control" 
                    style="position: relative"
                    formControlName="type">
                    <option value="0">Public</option>
                    <option *ngFor="let company of companyList" [value]="company.id" >{{ company.name }}</option>
                </select>
            </div>
            <div class="mt-4">
                <button nbButton matRipple 
                  status="primary" 
                  class="col-3" 
                  (click)="submit()" 
                  [disabled]="submitted || !formGroup.valid"
                  [class.btn-pulse]="submitted">
                    Submit
                </button>
                <button nbButton matRipple status="primary" class="col-3 ml-3" (click)="cancel()" outline>
                    Cancel
                </button>    
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>