<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Enable Password</nb-card-header>
        <nb-card-body>
          <div [formGroup]="formGroup" aria-labelledby="title">
            <nb-checkbox 
              *ngFor="let password of passwordList" 
              class="row mt-3" 
              [id]="'chk-' + password.id"
              [checked]="checkEnable(password)"
              (change)="setEnalbe(password, $event)">{{ password.name }}</nb-checkbox>
            <div class="mt-4">
              <button nbButton matRipple 
                status="primary" 
                class="col-3" 
                (click)="submit()" 
                [disabled]="submitted || !formGroup.valid"
                [class.btn-pulse]="submitted">
                  Submit
              </button>
              <button nbButton matRipple status="primary" class="col-3 ml-3" (click)="cancel()" outline>
                  Cancel
              </button>    
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>