@use '../../styles/themes' as *;

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  ::ng-deep nb-menu .menu-item > .menu-items {
    padding: 0 0 0 15px !important;
  }

  @media (min-width: 768px) {
    .overlay {
      display: none;
    }
  }

  .overlay.collapsed {
    display: none;
  }
}
