<div class="row">
    <div class="col-lg-8">
      <nb-card>
        <nb-card-header>{{ title }}</nb-card-header>
        <nb-card-body>
        <div [formGroup]="formGroup" aria-labelledby="title">
            <div class="form-control-group mt-3">
                <label for="input-link" class="col-md-3">Link</label>
                <input  nbInput
                        fullWidth
                        id="input-link"
                        formControlName="link"
                        [status]="link.dirty ? (link.invalid  ? 'danger' : 'success') : 'basic'"
                        [attr.aria-invalid]="link.invalid && link.touched ? true : null"
                        placeholder="Enter Link"
                        class="col-md-9">
            </div>
            <div class="form-control-group mt-3">
                <label for="input-description" class="col-md-3">Description</label>
                <input  nbInput
                        fullWidth
                        id="input-description"
                        formControlName="description"
                        [status]="description.dirty ? (description.invalid  ? 'danger' : 'success') : 'basic'"
                        [attr.aria-invalid]="description.invalid && description.touched ? true : null"
                        placeholder="Enter Description"
                        class="col-md-9">
            </div>
            <div class="mt-4">
                <button nbButton matRipple 
                  status="primary" 
                  class="col-3" 
                  (click)="submit()" 
                  [disabled]="submitted || !formGroup.valid"
                  [class.btn-pulse]="submitted">
                    Submit
                </button>
                <button nbButton matRipple status="primary" class="col-3 ml-3" (click)="cancel()" outline>
                    Cancel
                </button>    
            </div>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
</div>