<nb-accordion class="mb-3">
    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Search
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div [formGroup]="searchForm" class="container">
            <div class="row">
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>SO #</mat-label>
                    <input matInput placeholder="xx-xxxxxx" maxlength="9"
                    formControlName="so"
                    (keyup)="soInput($event)">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Customer #</mat-label>
                    <input matInput formControlName="customer"
                            (keyup)="numberInput($event, 'customer')"
                           placeholder="xxxxxx" maxlength="6">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastname"
                            (keyup)="nameInput($event)"
                           placeholder="Only letters">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone"
                            (keyup)="phoneInput($event)"
                           placeholder="xxx-xxx-xxxx" maxlength="12">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Your #</mat-label>
                    <input matInput formControlName="your"
                          (keyup)="otherInput($event, 'your')"
                           placeholder="xxxxxxxx" maxlength="8">
                </mat-form-field>
                <div class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>Beginning SO Date</mat-label>
                      <input matInput formControlName="begindate"
                              (keyup)="dateInput($event, 'begin')"
                              [nbDatepicker]="beginDate"
                              placeholder="xx/xx/xxxx"
                              maxlength="10"
                              autocomplete="off">
                              <nb-datepicker #beginDate></nb-datepicker>
                      </mat-form-field>
                    <button nbButton (click)="handleClose('begin')" status="danger" size="small" class="dateCloseBtn">
                      <nb-icon icon="close"></nb-icon>
                    </button>
                </div>
                <div class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Ending SO Date</mat-label>
                    <input matInput formControlName="enddate"
                            (keyup)="dateInput($event, 'end')"
                            [nbDatepicker]="endDate"
                           placeholder="xx/xx/xxxx"
                           maxlength="10"
                           autocomplete="off">
                    <nb-datepicker #endDate></nb-datepicker>
                    </mat-form-field>
                  <button nbButton (click)="handleClose('end')" status="danger" size="small" class="dateCloseBtn">
                    <nb-icon icon="close"></nb-icon>
                  </button>
                </div>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location"
                            (keyup)="numberInput($event, 'location')"
                           placeholder="xx" maxlength="2">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Account Type</mat-label>
                    <input matInput formControlName="accounttype"
                          (keyup)="otherInput($event, 'account')"
                           placeholder="xx" maxlength="2">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Sales Person</mat-label>
                    <input matInput formControlName="person"
                          (keyup)="otherInput($event, 'person')"
                           placeholder="xxx" maxlength="3">
                </mat-form-field>
                <div class="form-group col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <nb-checkbox formControlName="showOpen" id="check-show">Show Open For Delivery SOs Only</nb-checkbox>
                </div>
                <div class="form-group col-is-12 col-sm-6 col-md-4 col-lg-3">
                  <nb-checkbox formControlName="remember" id="check-remember" (checkedChange)="handleRemember($event)">Remember values</nb-checkbox>
              </div>
            </div>
            <div class="mt-1">
                <button nbButton matRipple 
                  status="primary" 
                  class="col-3" 
                  (click)="submit()" 
                  [disabled]="submitted || !searchForm.valid"
                  [class.btn-pulse]="submitted">
                    Search
                </button>  
            </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-card class="detailCard" *ngIf="revealState; else elseBlock">
  <nb-card-header class="d-flex justify-content-between align-items-center">
      <button nbButton status="success" size="small" (click)="onBackBtnClick()" class="m-0"><nb-icon icon="chevron-left-outline"></nb-icon> Back to list</button>
      <div class="ml-auto mr-auto">Sales Order</div>
      <div>
        Rows per page: <select (change)="onChangePage($event, 'order')">
          <option [selected]="pages2==10">10</option>
          <option [selected]="pages2==25">25</option>   
          <option [selected]="pages2==50">50</option>
        </select>
      </div>

  </nb-card-header>
  <nb-card-body id="orderData">
    <div class="d-flex flex-wrap align-items-center">
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Sales Order #</div>
        <div>{{header?.sa_no.slice(0,2)+'-'+header?.sa_no.slice(2)}}</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Customer #</div>
        <div>{{header?.cust_num}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1">
        <div class="field-title">SA1</div>
        <div>{{header?.slspr_cd}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1" *ngIf="header?.slspr2_cd&&header?.slspr2_cd!=''">
        <div class="field-title">SA2</div>
        <div>{{header?.slspr2_cd}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1" *ngIf="header?.slspr3_cd&&header?.slspr3_cd!=''">
        <div class="field-title">SA3</div>
        <div>{{header?.slspr3_cd}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1" *ngIf="header?.slspr4_cd&&header?.slspr4_cd!=''">
        <div class="field-title">SA4</div>
        <div>{{header?.slspr4_cd}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1" *ngIf="header?.slspr5_cd&&header?.slspr5_cd!=''">
        <div class="field-title">SA5</div>
        <div>{{header?.slspr5_cd}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1" *ngIf="header?.slspr6_cd&&header?.slspr6_cd!=''">
        <div class="field-title">SA6</div>
        <div>{{header?.slspr6_cd}}</div>
      </div>
      <div class="field-wrapper mr-1 mb-1" *ngIf="header?.slspr7_cd&&header?.slspr7_cd!=''">
        <div class="field-title">SA7</div>
        <div>{{header?.slspr7_cd}}</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1" *ngIf="header?.project&&header?.project!=''">
        <div class="field-title">Project #</div>
        <div>{{header?.project}}</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1" *ngIf="header?.ss_refID&&header?.ss_refID!=''">
        <div class="field-title">Ref #</div>
        <div>{{header?.ss_refID}}</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1" *ngIf="header?.ss_gov_num&&header?.ss_gov_num!=''">
        <div class="field-title">Your #</div>
        <div>{{header?.ss_gov_num}}</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Delivery/Pickup</div>
        <div>{{header?.ss_HowRcv}}</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Sale Date</div>
        <div>{{header?.ss_order_dt}}</div>
      </div>
      <button nbButton ghost status="primary" size="small" [nbContextMenu]="ctxItems" nbContextMenuTag="sales-download-menu"><nb-icon icon="download-outline"></nb-icon></button>
      <button nbButton ghost status="primary" size="small" [nbContextMenu]="ctxItems" nbContextMenuTag="sales-print-menu"><nb-icon icon="printer-outline"></nb-icon></button>
    </div>
    <div class="row">
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header">
            <div class="bg-success text-white">Bill To</div>
          </div>
          <div class="order-group-body">
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">First Name</div>
                <div>{{billTo?.rc_first_name}}</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Last Name</div>
                <div>{{billTo?.rc_last_name}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Address</div>
                <div>{{billTo?.rc_add1}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1" *ngIf="billTo?.rc_add2&&billTo?.rc_add2!=''">
                <div class="field-title">Apt, Suite, Bldg</div>
                <div>{{billTo?.rc_add2}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">City</div>
                <div>{{billTo?.rc_city}}</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">State</div>
                <div>{{billTo?.state}}</div>
              </div>
              <div class="field-wrapper">
                <div class="field-title">Zip</div>
                <div>{{billTo?.rc_zip}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Mobile</div>
                <div>{{billTo?.rc_phone && billTo?.rc_phone.slice(0,3)+'-'+billTo?.rc_phone.slice(3,6)+'-'+billTo?.rc_phone.slice(6)}}</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Home</div>
                <div>{{billTo?.rc_phone2 && billTo?.rc_phone2.slice(0,3)+'-'+billTo?.rc_phone2.slice(3,6)+'-'+billTo?.rc_phone2.slice(6)}}</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Mobile2</div>
                <div></div>
              </div>
            </div>
            <div class="d-flex">
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Email</div>
                <div>{{billTo?.rc_email}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header">
            <div class="bg-success text-white">Ship To</div>
          </div>
          <div class="order-group-body">
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">First Name</div>
                <div>{{shipTo?.si_first_name}}</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Last Name</div>
                <div>{{shipTo?.si_last_name}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Address</div>
                <div>{{shipTo?.si_add1}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1" *ngIf="shipTo?.si_add2&&shipTo?.si_add2!=''">
                <div class="field-title">Apt, Suite, Bldg</div>
                <div>{{shipTo?.si_add2}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">City</div>
                <div>{{shipTo?.si_city}}</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">State</div>
                <div>{{shipTo?.state}}</div>
              </div>
              <div class="field-wrapper">
                <div class="field-title">Zip</div>
                <div>{{shipTo?.si_zip}}</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Mobile</div>
                <div>{{shipTo?.si_phone && shipTo?.si_phone.slice(0,3)+'-'+shipTo?.si_phone.slice(3,6)+'-'+shipTo?.si_phone.slice(6)}}</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Home</div>
                <div>{{shipTo?.si_phone2 && shipTo?.si_phone2.slice(0,3)+'-'+shipTo?.si_phone2.slice(3,6)+'-'+shipTo?.si_phone2.slice(6)}}</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Mobile2</div>
                <div></div>
              </div>
            </div>
            <div class="d-flex">
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Email</div>
                <div>{{billTo?.rc_email}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header bg-warning p-1">
            Delivery Instructions
          </div>
          <div class="order-group-body p-1">
            {{shipTo?.si_instruct}}
          </div>
        </div>
      </div>
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header bg-warning p-1">
            Sales Comments
          </div>
          <div class="order-group-body p-1">
            <div *ngFor="let comment of comments; let i = index">
              <p *ngIf="i%2==0; else commentDivBlock">{{comment?.sc_comment}}</p>
              <ng-template #commentDivBlock>{{comment?.sc_comment}}</ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-wrapper mb-2">
      <ng2-smart-table id="detail-table"
        [settings]="settings1"
        [source]="source1">
      </ng2-smart-table>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Payment Type</div>
            <div>{{header?.acct_type}}</div>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Payment Description</div>
            <div></div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1 bg-danger">
            <div class="field-title text-white">Balance Due</div>
            <div class="text-white">{{header?.ss_balance}}</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Subtotal</div>
            <div>{{header?.ss_subtot | currency:' ':true:'1.2-2'}}</div>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="field-wrapper mr-1">
            <div class="field-title">Tax %</div>
            <div>{{header?.ss_percent}}</div>
          </div>
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Tax</div>
            <div>{{header?.ss_tax | currency:' ':true:'1.2-2'}}</div>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Total</div>
            <div>{{header?.ss_total | currency:' ':true:'1.2-2'}}</div>
          </div>
        </div>

      </div>
    </div>
  </nb-card-body>
</nb-card>
<ng-template #elseBlock>
  <nb-card class="detailCard">
    <nb-card-header class="d-flex justify-content-between">
      <div>Search Result</div>
      <div>
        Rows per page: <select (change)="onChangePage($event, 'search')">
          <option [selected]="pages1==10">10</option>
          <option [selected]="pages1==25">25</option>   
          <option [selected]="pages1==50">50</option>
        </select>
      </div>
    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings"
        [source]="source"
        id="searchResultTable">
        </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</ng-template>
