<nb-accordion class="mb-3">
    <nb-accordion-item expanded>
      <nb-accordion-item-header>
        Search
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <div [formGroup]="searchForm" class="container">
            <div class="row">
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>SO #</mat-label>
                    <input matInput placeholder="xx-xxxxxx" maxlength="9"
                    formControlName="so"
                    (keyup)="soInput($event)">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Customer #</mat-label>
                    <input matInput formControlName="customer"
                            (keyup)="numberInput($event, 'customer')"
                           placeholder="xxxxxx" maxlength="6">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastname"
                            (keyup)="nameInput($event)"
                           placeholder="Only letters">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Phone</mat-label>
                    <input matInput formControlName="phone"
                            (keyup)="phoneInput($event)"
                           placeholder="xxx-xxx-xxxx" maxlength="12">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Your #</mat-label>
                    <input matInput formControlName="your"
                           placeholder="xxxxxxxx" maxlength="8">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Beginning SO Date</mat-label>
                    <input matInput formControlName="begindate"
                            (keyup)="dateInput($event)"
                            [nbDatepicker]="beginDate"
                           placeholder="xx/xx/xxxx"
                           maxlength="10"
                           autocomplete="off">
                    <nb-datepicker #beginDate></nb-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Ending SO Date</mat-label>
                    <input matInput formControlName="enddate"
                            (keyup)="dateInput($event)"
                            [nbDatepicker]="endDate"
                           placeholder="xx/xx/xxxx"
                           maxlength="10"
                           autocomplete="off">
                    <nb-datepicker #endDate></nb-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location"
                            (keyup)="numberInput($event, 'location')"
                           placeholder="xx" maxlength="2">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Account Type</mat-label>
                    <input matInput formControlName="accounttype"
                           placeholder="xx" maxlength="2">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <mat-label>Sales Person</mat-label>
                    <input matInput formControlName="person"
                           placeholder="xxx" maxlength="3">
                </mat-form-field>
                <div class="form-group col-is-12 col-sm-6 col-md-4 col-lg-3">
                    <nb-checkbox formControlName="showOpen" id="check-show">Show Open For Delivery SOs Only</nb-checkbox>
                </div>
                <div class="form-group col-is-12 col-sm-6 col-md-4 col-lg-3">
                  <nb-checkbox formControlName="remember" id="check-remember">Remember values</nb-checkbox>
              </div>
            </div>
            <div class="mt-1">
                <button nbButton matRipple 
                  status="primary" 
                  class="col-3" 
                  (click)="submit()" 
                  [disabled]="submitted || !searchForm.valid"
                  [class.btn-pulse]="submitted">
                    Search
                </button>  
            </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
</nb-accordion>
<nb-card class="detailCard" *ngIf="revealState; else elseBlock">
  <nb-card-header class="d-flex justify-content-between align-items-center">
      <button nbButton status="success" size="small" (click)="onBackBtnClick()" class="m-0"><nb-icon icon="chevron-left-outline"></nb-icon> Back to list</button>
      <div class="ml-auto mr-auto">Sales Order</div>
  </nb-card-header>
  <nb-card-body>
    <div class="d-flex flex-wrap align-items-center">
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Sales Order #</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Customer #</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper mr-1 mb-1">
        <div class="field-title">SA1</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper mr-1 mb-1">
        <div class="field-title">SA2</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper mr-1 mb-1">
        <div class="field-title">SA3</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper mr-1 mb-1">
        <div class="field-title">SA4</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper mr-1 mb-1">
        <div class="field-title">SA5</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Project #</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Ref #</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Your #</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Delivery/Pickup</div>
        <div>123123</div>
      </div>
      <div class="field-wrapper flex-grow-1 mr-1 mb-1">
        <div class="field-title">Sale Date</div>
        <div>123123</div>
      </div>
      <button nbButton ghost status="primary" size="small"><nb-icon icon="download-outline"></nb-icon></button>
      <button nbButton ghost status="primary" size="small"><nb-icon icon="printer-outline"></nb-icon></button>
    </div>
    <div class="row">
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header">
            <div class="bg-success text-white">Bill To</div>
          </div>
          <div class="order-group-body">
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">First Name</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Last Name</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Address</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Apt, Suite, Bldg</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">City</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">State</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper">
                <div class="field-title">Zip</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Mobile</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Home</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Mobile2</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex">
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Email</div>
                <div>123123</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header">
            <div class="bg-success text-white">Ship To</div>
          </div>
          <div class="order-group-body">
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">First Name</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Last Name</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Address</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Apt, Suite, Bldg</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">City</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">State</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper">
                <div class="field-title">Zip</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex mb-1">
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Mobile</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1 mr-1">
                <div class="field-title">Home</div>
                <div>123123</div>
              </div>
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Mobile2</div>
                <div>123123</div>
              </div>
            </div>
            <div class="d-flex">
              <div class="field-wrapper flex-grow-1">
                <div class="field-title">Email</div>
                <div>123123</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header bg-warning p-1">
            Delivery Instructions
          </div>
          <div class="order-group-body">

          </div>
        </div>
      </div>
      <div class="col-is-12 col-sm-6 col-xl-3">
        <div class="order-group mb-1">
          <div class="order-group-header bg-warning p-1">
            Sales Comments
          </div>
          <div class="order-group-body">

          </div>
        </div>
      </div>
    </div>
    <div class="table-wrapper mb-2">
      <ng2-smart-table id="detail-table"
        [settings]="settings1"
        [source]="source1">
      </ng2-smart-table>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Payment Type</div>
            <div>123123</div>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Payment Description</div>
            <div>123123</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1 bg-danger">
            <div class="field-title text-white">Balance Due</div>
            <div class="text-white">123123</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Subtotal</div>
            <div>123123</div>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1 mr-1">
            <div class="field-title">Tax %</div>
            <div>123123</div>
          </div>
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Tax</div>
            <div>123123</div>
          </div>
        </div>
        <div class="d-flex mb-1">
          <div class="field-wrapper flex-grow-1">
            <div class="field-title">Total</div>
            <div>123123</div>
          </div>
        </div>

      </div>
    </div>
  </nb-card-body>
</nb-card>
<ng-template #elseBlock>
  <nb-card class="detailCard">
    <nb-card-header>Search Result</nb-card-header>
    <nb-card-body>
        <ng2-smart-table
        (userRowSelect)="onUserRowSelect($event)"
        [settings]="settings"
        [source]="source">
        </ng2-smart-table>
    </nb-card-body>
  </nb-card>
</ng-template>
