<nb-card>
    <nb-card-header class="d-flex justify-content-between">
      <div>UUIDS</div>
      <div>
        Rows per page: <select (change)="onChangePage($event)">
          <option>10</option>
          <option>50</option>   
          <option>100</option>
        </select>
      </div>
    </nb-card-header>
  
    <nb-card-body>
      <ng2-smart-table class="uuid-table"
                    [settings]="settings"
                    [source]="source"
                    (create)="createUDID()"
                    (edit)="onEdit($event)"
                    (delete)="onDelete($event)">
      </ng2-smart-table>
    </nb-card-body>
  </nb-card>