:host ::ng-deep ng2-st-tbody-custom {
  display: flex !important;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
  display:none !important;
}

:host ::ng-deep .room-table-icon {
  font-size: 1.1rem !important;
}